<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Дата создания</th>
            <th>Баланс</th>
            <th>Номер депозитного счета</th>
            <th>Кол-во кредитных карт</th>
            <th>Кол-во дебетовых карт</th>

        </tr>
        </thead>
        <tbody>
        <td th:text="${account.id}"/>
        <td th:text="${account.createdTime}"/>
        <td th:text="${balance}"/>
        <td th:text="${account.deposit != null} ? ${account.deposit.getNumber()}"/>
        <td th:text="${account.creditCards.size()}"/>
        <td th:text="${account.debitCards.size()}"/>
        </tbody>
    </table>
</div>
</br>
</hr>
</br>
<div th:if="${account.creditCards.size() != 0}">
    <h2 align="center">Credit cards</h2>
    <div class="container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Number</th>
                <th>Balance</th>
                <th>VALID THRU</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="CC : ${account.creditCards}">
                <td th:text="${CC.number}"/>
                <td th:text="${CC.balance}"/>
                <td th:text="${CC.validThru}"/>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</br>
</hr>
</br>
<div th:if="${account.debitCards.size() != 0}">
    <h2 align="center">Debit cards</h2>
    <div class="container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Number</th>
                <th>Balance</th>
                <th>VALID THRU</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="DC : ${account.debitCards}">
                <td th:text="${DC.number}"/>
                <td th:text="${DC.balance}"/>
                <td th:text="${DC.validThru}"/>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</br>
</hr>
</br>
<div th:if="${account.deposit != null}">
    <h2 align="center">Deposit</h2>
    <div class="container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Number</th>
                <th>Balance</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${account.deposit.number}"/>
                <td th:text="${account.deposit.balance}"/>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</br>
</hr>
</br>
<div>
    <table border="1" style="height: 18px; width: 100%; border-collapse: collapse; border-style: hidden;">
        <tbody>
        <tr style="height: 18px;">
            <td style="width: 30.661%; height: 18px;" th:if="${account.deposit == null}">
                <a th:href="@{/users/accounts/{idAcc}/new_deposit (idAcc = ${account.getId()})}">Открыть депозит</a>
            </td>
            <td style="width: 36.0056%; height: 18px;">
                <a th:href="@{/users/accounts/{idAcc}/new_debit_card (idAcc = ${account.getId()})}">Создать дебетовую
                    карту</a>
            </td>
            <td style="width: 33.3333%; height: 18px;">
                <a th:href="@{/users/accounts/{idAcc}/new_credit_card (idAcc = ${account.getId()})}">Создать кредитную
                    карту</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</br>
</hr>
</br>
    <a th:href="@{/users/accounts/{idAcc}/transfer_money (idAcc = ${account.getId()})}">Выполнить перевод</a>
</body>
</html>