<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BandiBank - 90's</title>
</head>
<body>
<h1 style="text-align: center;">BandiBank</h1>
<table border="1" style="height: 43px; width: 29.9796%; border-collapse: collapse; border-style: hidden;" height="27">
    <tbody>
    <tr style="height: 21px;">
        <td style="width: 100%; height: 21px; text-align: left;">
            <a th:href="@{/users}">Войти в ЛК</a>
        </td>
    </tr>
    <tr>
        <td style="width: 100%; text-align: left;">
            <a th:href="@{/users/new}">Зарегаться</a>
        </td>
    </tr>
    </tbody>
</table>
<p></p>
<table border="1" style="height: 36px; width: 100%; border-collapse: collapse; border-style: hidden;">
    <tbody>
    <tr style="height: 36px;">
        <td style="width: 100%; height: 36px;">Банк BandiBank берет бандитские проценты по кредитам, имеет огромную комиссию по переводам, а также ужасный сервис. Строй будущее вместе с нами!</td>
    </tr>
    </tbody>
</table>
</body>
</html>